/*
  Posts
*/

.posts-container {
  // margin-bottom: 5rem;
  padding: 0px;
  list-style: none;
}

/*
  Thumbnail
*/

.thumbnail-container {
  max-width: 100%;
  max-height: 200px;
  overflow: hidden;
  border-radius: 5px;
  margin: 15px 0;
  display: flex;
  align-items: center;
}

.thumbnail-container img {
  // margin-top: -15%;
  // margin-bottom: -15%;
}

/*
  Pagination
*/

.pagination {
  overflow: hidden;
  font-family: $sans-serif-font-family;
  text-align: center;
}

.pagination a {
  text-decoration: none;
}

.pagination-button {
  color: $light-gray-color;
  padding: 15px 45px;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  &:not(.pagination-active) {
    display: none;
  }
}

.pagination-active {
  color: $link-color;
  border: 1px solid $pagination-button-color;
}

.pagination-active:hover {
  background-color: $pagination-button-color;
}
