/*
  Post
*/

.post-title {
  font-family: $serif-font-family;
  line-height: 1.2;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.post-image {
  box-shadow: 0px 4px 8px #0005;
}

.content-container {
  h1, h2, h3, h4, h5, h6 {
    font-family: $serif-font-family;
  }
  h1 { font-size: 1.5rem; }
  h2 { font-size: 1.4rem; }
  h3 {
    font-size: 1.2rem;
    font-style: italic;
  }
  h4, h5, h6 { font-size: 1rem; }
}

.post-date {
  // display: block;
  margin-top: 3px;
  margin-bottom: 1rem;
  color: $light-gray-color;
  font-family: $sans-serif-font-family;
  font-size: 1rem;
  white-space: nowrap;
}

@media (max-width: $elements-responsive-width) {
  .posts h1 {
    font-size: 1.5rem;
  }
}

.related {
  padding-bottom: 2rem;
}

.related-posts {
  padding-left: 0px;
  list-style: none;

}

.related-posts a {
  text-decoration: none;
}


$fullwidth-margin: 5vw;

.fullwidth {
  width: 100vw - 2*$fullwidth-margin;
  background: $container-color;
  position: relative;
  // left: calc(50% - 45vw);
  left: calc(50% - 50vw);
  padding: $fullwidth-margin;
  box-shadow: 0px 12px 16px #0002;

}

input[type="number"] {
  width: 4rem;
}

p.box {
  outline: 1px solid #aaa;
  outline-offset: 0.5rem;
}

.def {
  border-left: 1px solid red;
}

.proof {
  & > *:first-child::before {
    content: "Proof:";
    margin-right: 1rem;
    font-style: italic;
    display: inline-block;
  }
  & > *:last-child::after {
    content: '◼︎';
    float: right;
  }

}

.aside {
  background-color: hsl(205deg, 100%, 98%);
  background-color: #f5fbff;
  border-radius: 8px;
  font-size: 93%;
  padding: 0.7em 1em;
  text-align: justify;
  box-shadow: inset 0px 2px 5px #0002;
}
.aside > p:last-child, .aside > p:first-child {
   margin-bottom: 0;
   margin-top: 0;
}

figure {
  text-align: center;
}

video {
  display: block;
  margin: auto
}
