:root {
  font-family: "Crimson Text", "PT Serif", Georgia, serif;

  --sky-white: hsl(205deg, 100%, 98%);
  --dark-gray: #505050;
  --light-gray: #879ba2;
  --fun-font: "Mirza", sans-serif;

  font-size: 14pt;

  background: url("/assets/header.png") fixed top no-repeat;
  background-color: var(--sky-white);
  background-blend-mode: multiply;
  padding-top: calc((450px + 28vw) * 0.33);
  padding-bottom: 60px;
  background-size: calc(450px + 28vw);
}

*:hover {
  /*outline: 1px solid #f003;*/
}

body {
  margin: auto;
  width: calc(400px + 25vw);
  padding: 1rem 3rem;
  box-shadow: 0px 6px 36px #0031;
  border-radius: 8px;
  background: white;
}

header {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  font-family: var(--fun-font);
}
header a {
  text-decoration: none;
  color: var(--dark-gray);
}
header a:hover {
  color: black;
}
header .site-name {
  font-size: 2.5rem;
}

header nav a {
  color: var(--light-gray);
}
header nav a:not(:first-child)::before {
  content: "·";
  padding: 0 8px;
  color: var(--light-gray);
}

main {
}

footer {
  color: var(--light-gray);
  text-align: center;
  font-size: 0.7em;
}
footer a {
  color: var(--light-gray);
  text-decoration: none;
}

img {
  border-radius: 5px;
  max-width: 100%;
  height: auto;
}

figure {
  text-align: center;
}

/* text styles */

main a {
  text-decoration: none;
  color: var(--dark-gray);
  cursor: pointer;
}

main a:hover {
  text-decoration: underline;
}

hr {
  text-align: center;
  border: none;
  margin: 20px 0;
}
hr:after {
  content: "· · ·";
  color: var(--light-gray);
}

h1 {
  font-size: 1.5em;
  font-weight: normal;
}

h2 {
  font-weight: normal;
  font-style: italic;
}

.post-meta {
  color: var(--light-gray);
  font-family: var(--fun-font);
}

code {
  font-size: 0.75em;
}

pre {
  padding: 0.5em;
  border-radius: 5px;
  /*font-size: 0.75em;*/
  line-height: 1.4em;
  box-shadow: inset 0 4px 6px #0002;
  white-space: pre-wrap;
  background-color: var(--sky-white);
}

.block-equation {
  display: flex;
  justify-content: center;
}
