---
layout: default
---

{% for post in paginator.posts %}
  <div class="posts-container">
    {% include post-title.html category=true %}
    {% if post.image or post.coverimage %}
    <div class="thumbnail-container">
      <a href="{{ site.github.url }}{{ post.url }}"><img src="{{ site.github.url }}/assets/img/{% if post.coverimage %}{{ post.coverimage }}{% else %}{{ post.image }}{% endif %}"></a>
    </div>
    {% endif %}
    <p>
      {% if post.blurb %}
        {{ post.blurb }}
      {% else %}
        {{ post.content | strip_html | truncatewords: 50 }}
      {% endif %}
      <a href="{{ site.github.url }}{{ post.url }}">Read more</a>
    </p>
  </div>
  <hr>
{% endfor %}

<!-- Pagination links -->
<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-button pagination-active next" href="{{ site.github.url }}{{ paginator.next_page_path }}">⟵ Older</a>
  {% endif %}
  {% if paginator.previous_page %}
    <a class="pagination-button pagination-active" href="{{ site.baseurl }}{{ paginator.previous_page_path }}">Newer ⟶</a>
  {% endif %}
</div>
